{% extends 'base.html.twig' %}

{% block title %}Détail du cours{% endblock %}

{% block body %}

<div class="container-lesson">
    <h1>Détail de la leçon</h1>
    <h2>{{ lesson.NameLesson }}</h2>
    <pre>{{ fileContent }}</pre>    
    <a href="{{ path('app_certificat_lesson', {'id': lesson.id}) }}" class="btn btn-primary">Valider ma leçon</a>
</div>
{% endblock %}
