{% extends 'base.html.twig' %}

{% block title %}Mes certifications{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% set hasCertification = false %}    
    <table>   
        {# curriculum display #} 
        {% for purchase in purchases %}        
            {% if purchase.cursusValidate == true and purchase.lesson == null %}
                {% set hasCertification = true %}
                {% if loop.first %}
                    <h1>Congratulations</h1>
                {% endif %}
                    <tr>
                        <td><p>{{ purchase.cursus.NameCursus }}</p></td>
                        <td><img src="{{ asset('/images/certification.png') }}" alt="certification"></td>
                    </tr>                                
            {% endif %}
        {% endfor %}

        {# lessons display #}
        {% for data in cursus_data %}                        
            {% if data.total_lessons == data.validated_lessons_count %}
                <tr>
                    <td><p>{{ data.cursus.NameCursus }}</p></td>
                    <td><img src="{{ asset('/images/certification.png') }}" alt="certification"></td>
                </tr>      
            {% endif %}            
        {% endfor %}
    </table>

    {% if not hasCertification %}
        <p>Dommage, vous n'avez pas encore obtenu de certification.</p>              
    {% endif %}   
</div>
{% endblock %}