@font-face {
    font-family: 'Comic Sans MS';
    src: url('/fonts/ComicSansMS-BoldItalic.eot');
    src: local('Comic Sans MS Bold Italic'), local('ComicSansMS-BoldItalic'),
        url('/fonts/ComicSansMS-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ComicSansMS-BoldItalic.woff2') format('woff2'),
        url('/fonts/ComicSansMS-BoldItalic.woff') format('woff'),
        url('/fonts/ComicSansMS-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('/fonts/ComicSansMS-Italic.eot');
    src: local('Comic Sans MS Italic'), local('ComicSansMS-Italic'),
        url('/fonts/ComicSansMS-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ComicSansMS-Italic.woff2') format('woff2'),
        url('/fonts/ComicSansMS-Italic.woff') format('woff'),
        url('/fonts/ComicSansMS-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('/fonts/ComicSansMS.eot');
    src: local('Comic Sans MS'), local('ComicSansMS'),
        url('/fonts/ComicSansMS.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ComicSansMS.woff2') format('woff2'),
        url('/fonts/ComicSansMS.woff') format('woff'),
        url('/fonts/ComicSansMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('/fonts/ComicSansMS-Bold.eot');
    src: local('Comic Sans MS Bold'), local('ComicSansMS-Bold'),
        url('/fonts/ComicSansMS-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ComicSansMS-Bold.woff2') format('woff2'),
        url('/fonts/ComicSansMS-Bold.woff') format('woff'),
        url('/fonts/ComicSansMS-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    color: #00497c;    
}
body{
    font-family:'Comic Sans MS', Arial, sans-serif;    
    background-color: #f1f8fc;
}
.container-home{
    width: 1300px;
    margin: 0 auto;
}
.container-detail{
    width: 1300px;
    margin: 0 auto;
}
.container-panier{
    display: flex;
    width: 800px;
    align-items: center;
    border: 1px solid #D2D2D2;
    margin: 0 auto;
    border-radius: 10px;
    padding-left: 5px;
    gap: 5px;
    justify-content: space-between;
}
.container_success,
.container-cancel{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.container-btn{
    width: 500px;
    padding-top: 10px;
    margin: auto;
}
.btn-right{
    padding-right: 10px;
    padding-bottom: 2px;
}
.text-panier{
    text-align: center;
}

.card_register{
    padding: 10px 10px;
    margin-top: 20px;
}
.form-label{    
    margin-bottom: 0.8rem;
}


