<!DOCTYPE html>
<html>
<head>
    <title>Redirection</title>
</head>
<body>
    <p>Redirection vers Stripe, veuillez patienter...</p>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            // Décodez l'URL avant la redirection
            var encodedUrl = '{{ checkout_url }}';
            var decodedUrl = decodeURIComponent(encodedUrl);
            window.location.href = decodedUrl;
        });
    </script>
</body>
</html>