<!DOCTYPE html>
<html>
<head>
    <title>Redirection</title>
</head>
<body>
    <p>Redirection vers Stripe, veuillez patienter...</p>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            //Decode the URL before redirecting
            var encodedUrl = '{{ checkout_url }}';
            var decodedUrl = decodeURIComponent(encodedUrl);
            window.location.href = decodedUrl;
        });
    </script>
</body>
</html>