{% extends 'base.html.twig' %}

{% block title %}Paiement Annulé{% endblock %}

{% block body %}
    <h1>Paiement Annulé</h1>
    <p>Paiement Annulé.</p>
    <a href="{{ path('app_home') }}">Retour à la page d'accueil</a>
{% endblock %}