{% extends 'base.html.twig' %}

{% block title %}Paiement Annulé{% endblock %}

{% block body %}
    <div class="container-cancel">
        <h1>Paiement Annulé</h1>

        <a href="{{ path('app_home') }}">Retour à la page d'accueil</a>
    </div>
{% endblock %}